[Unit]
Description=DiGiT Hosting Admin Status Fetcher
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=hostingfetch
Group=hostingfetch

ExecStart=/usr/local/sbin/digit-hosting-admin-fetch

WorkingDirectory=/tmp
UMask=0027

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
LockPersonality=yes

ReadOnlyPaths=/etc/digit-hosting-admin/ssh
ReadWritePaths=/var/lib/digit-hosting-admin/status

[Install]
WantedBy=multi-user.target
